.title {
  font-size: 8rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.1;
  margin: 24px 0 64px;
}

.title > span {
  display: block;
  padding-bottom: 10px;
  margin-bottom: -20px;
}

.spark {
  background: linear-gradient(90deg, #ffd900, #ffea00);
}

.ideas {
  background: linear-gradient(90deg, rgb(30, 28, 0), rgb(0, 0, 0));
}


[data-theme='dark'] .ideas {
  background: linear-gradient(90deg, rgb(255, 255, 25rgb(19, 19, 19), 0));
}


.spark,
.ideas {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}

.my{
  margin-top: 6rem;
  margin-bottom: 8rem;
}
.buttons {
  max-width: 26rem;
  margin: 0 auto 64px;
}

.button {
  height: 50px;
  padding: 0px 25px;
  min-width: 200px;
  color: #000000;
}

.subtitle {
  color: var(--secondary);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  margin: 8px 0 64px;
}
